textarea {
  margin-top: 12px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical; /* Cho phép thay đổi kích thước theo chiều dọc */
}